# Ignore all directories that are not ./common/
*/
!common/

# Ignore all secrets
**/secrets.yaml

# ignore generated .makefile
.makefile

# Ignore Doxygen preprocessed files
*.doxygen_cpp.yaml

# Ignore editor/OS artifacts
*.swp
*.swo
*.bak
*~
.vscode/
.idea/
.DS_Store
Thumbs.db

