# .yamllint configuration for sysmon-ph project
# - Disables line length warnings
# - Ignores 'too many spaces after colon' errors (colons rule)

rules:
  line-length: disable
  colons:
    max-spaces-after: -1  # -1 disables the check for spaces after colon
